; Groupwise KickStart (GWKS)
; (c) Casper Pedersen, Feb. 2000
; Latest version can be downloaded from: http://www.c-note.dk/
; 
; GWKS reads the the path for GRPWISE.EXE from registry.
;
; Timermode can be: 0=no timer, 1=Abort, 2=Last launch(if any).
;
; Targets, well I have not tried to put in more than 4, but it should,
; be possible to have hundreds, if needed:-)

;  Author: Casper Pedersen
;          casperghst42@fastmail.fm
;  
;  This program is free software; you can redistribute it and/or
;  modify it under the terms of the GNU General Public License
;  as published by the Free Software Foundation; either version 2
;  of the License, or (at your option) any later version.
;
;  This program is distributed in the hope that it will be useful,
;  but WITHOUT ANY WARRANTY; without even the implied warranty of
;  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;  GNU General Public License for more details.
;
;  You should have received a copy of the GNU General Public License
;  along with this program; if not, write to the Free Software
;  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.


[Groupwise KickStart Configuration]
Top=209
Left=259
TimerMode=2
TimerDelayInSeconds=10
LastUsed=2
[Groupwise KickStart Targets]
target001=HOME,/L-DK /IPA-192.168.1.5 /IPP-1677
target002=HOME,/L-US /IPA-192.168.1.5 /IPP-1677
target003=Remote,/PS-c:\novell\remote
